.boxOffice > ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
  text-align: left;
}

.boxOffice > ul > li {
  display: flex;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0.5rem 0;
  padding: 0 0.9rem;
  background: white;
  border-radius: 5px;
}

.yesterday {
  color:grey;
  text-align: right;
  display:block;
  width: 100%;
  margin: 50px 50px auto auto;
}

.movieRank {
  color:#00acc1;
  font-style: italic;
  margin-right: 20px;
}