html, body {
  margin: 0;
	padding: 0;
  font-family: 'Roboto', 'sans-serif';
  background: #eeeeee;

}

.app {
  position: relative;
	width: 100%;
	min-height: 100%;
  background: #eeeeee;
  
}

.app-contents {
  height: 100%;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.contents {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 5px 10px;
  width: 100%;
}

.page-header {
  padding: 30px 5px 15px;
}

*,
*:after,
*:before {
	font-family: 'Roboto', 'sans-serif';
}