.wishes {
  margin-top: 70px;
}

.wishes > ul {
  list-style-type: none;
    padding-left: 0px;
    margin-top: 0;
    text-align: left;
}

.wishes > ul > li {
  display: flex;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0.5rem 0;
  padding: 0 0.9rem;
  background: white;
  border-radius: 5px;
}

.removeBtn {
  margin-left: auto;
  color: #de4343;
  cursor: pointer;
  padding-top: 13px;
  font-size: 1.3rem;
}

.checkBtn {
  color: #62acde;
  cursor: pointer;
  padding-top: 13px;
  font-size: 1.3rem;
}

.textCompleted {
  text-decoration: line-through;
  color: #b3adad;
}
